[mysqld]

{% if elao_mysql_config_mysqld_replication.server_id is defined %}
server-id                       = {{ elao_mysql_config_mysqld_replication.server_id }}
{% endif %}
{% if elao_mysql_config_mysqld_replication.log_bin is defined %}
log_bin                         = {{ elao_mysql_config_mysqld_replication.log_bin }}
{% endif %}
{% if elao_mysql_config_mysqld_replication.expire_logs_days is defined %}
expire_logs_days                = {{ elao_mysql_config_mysqld_replication.expire_logs_days }}
{% endif %}
{% if elao_mysql_config_mysqld_replication.max_binlog_size is defined %}
max_binlog_size                 = {{ elao_mysql_config_mysqld_replication.max_binlog_size }}
{% endif %}
{% if elao_mysql_config_mysqld_replication.innodb_flush_log_at_trx_commit is defined %}
innodb_flush_log_at_trx_commit  = {{ elao_mysql_config_mysqld_replication.innodb_flush_log_at_trx_commit }}
{% endif %}
{% if elao_mysql_config_mysqld_replication.max_binlog_size is defined %}
sync_binlog                     = {{ elao_mysql_config_mysqld_replication.sync_binlog }}
{% endif %}